.navbar{
    background-color:#AC87C5;
    color: white;
    display: flex;
}
.navbar-brand{
    display: flex;
    justify-items: center;
    align-items: center;
    img{
        width: 100px;
     }
    p{
        color: white;
        font-size: 45px;
        font-family:Playfair Display;
       
    }
    
}